<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hhkungfu.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HHKUNGFU.ORG</name>
    <description>Xem phim Hoạt Hình Trung Quốc mới nhất tại hhkungfu.org. Cập nhật Phim Hoạt Hình hay mới liên tục mỗi ngày từ hhkungfu.org</description>
    <author email="info@hhkungfu.org" href="https://hhkungfu.org">
        HHKUNGFU.ORG
    </author>

    <!-- Tập tin HTML khởi động -->
    <content src="index.html" />
    <access origin="*" />
	
	<allow-navigation href="https://www.hhkungfu.org" />
	<allow-intent href="https://www.hhkungfu.org" />
	<access origin="*" />


    <!-- Cho phép ý định -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- Cấu hình Android -->
    <platform name="android">
        <!-- Icon -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/android/xxxhdpi.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <preference name="AndroidWindowSplashScreenDuration" value="3000" />
        <preference name="AndroidWindowSplashScreenFadeDuration" value="500" />

        <!-- Icon -->
        <icon src="res/icon/android/ldpi.png" density="ldpi" />
        <icon src="res/icon/android/mdpi.png" density="mdpi" />
        <icon src="res/icon/android/hdpi.png" density="hdpi" />
        <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />

        <!-- Quyền -->
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </platform>

    <!-- Cấu hình iOS -->
    <platform name="ios">
        <!-- Icon -->
        <icon src="res/icon/ios/icon.png" />
        <icon src="res/icon/ios/icon@2x.png" />
        <icon src="res/icon/ios/icon-60.png" />
        <icon src="res/icon/ios/icon-60@2x.png" />
        <icon src="res/icon/ios/icon-60@3x.png" />
        <icon src="res/icon/ios/icon-small.png" />
        <icon src="res/icon/ios/icon-small@2x.png" />
        <icon src="res/icon/ios/icon-small@3x.png" />

        <!-- Splash Screen -->
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
    </platform>

    <!-- Tùy chỉnh chung -->
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="BackgroundColor" value="0xFFFFFFFF" />
    <preference name="SplashMaintainAspectRatio" value="true" />
</widget>
